<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../assets/css/index.css">
</head>

<body>
  <div class="p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end">
    <div class="mx-auto p-2" style="width: 600px;">
      <div class="input-group mb-3">
        <span class="input-group-text" >USUARIO</span>
        <input type="text" class="form-control" id="user" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" >CONTRASEÑA</span>
        <input type="password" class="form-control" id="password" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" >URL</span>
        <input type="text" class="form-control" id="url" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" >DATABASE</span>
        <input type="text" class="form-control" id="db" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default">
      </div>

      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button" id="btnSave">GUARDAR</button>
      </div>
    </div>


    <script src="../assets/js/config.js"></script>

</body>

</html>