<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/css/index.css">
</head>
<body>

<div class="p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end">
  <div class="mx-auto p-2" style="width: 600px;">
  <div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">USUARIO</span>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>

<div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">CONTRASEÑA</span>
  <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>

<div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">URL</span>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>

<div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">DATABASE</span>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>

<div class="d-grid gap-2">
  <button class="btn btn-primary" type="button" id="btn">GUARDAR</button>
</div>
</div>







</body>
</html>